.btnStyle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 5px;
}
