.todosContainer{
    .backBtn {
        height: 48px;
        width: 122px;
        border: 1px solid #f2f2f7;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #2b2b2b;
      }

      .todosLengthInfo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
